$primary-button-color: #2563eb;
$primary-text-color: #2563eb;
$secondary-button-color: #f3f4f6;
$secondary-outlined-button-color: #9ca3af;
$secondary-text-color: #4b5563;
$danger-button-color: #ffe4e6;
$danger-text-color: #be123c;
$white-button-color: #ffffff;
$white-text-color: #4b5563;

.primary.outlined {
  border-color: $primary-button-color;
  background-color: white;
  color: $primary-text-color;

  & * {
    color: $primary-text-color;
  }

  path {
    fill: $primary-text-color;
  }
}

.primary.filled {
  border-color: $primary-button-color;
  background-color: $primary-button-color;
  color: white;

  & * {
    color: white;
  }

  path {
    fill: white;
  }
}

.secondary.outlined {
  border-color: $secondary-outlined-button-color;
  background-color: white;
  color: $secondary-text-color;

  & * {
    color: $secondary-text-color;
  }

  path {
    fill: $secondary-text-color;
  }
}

.secondary.filled {
  border-color: $secondary-button-color;
  background-color: $secondary-button-color;
  color: $secondary-text-color;

  & * {
    color: $secondary-text-color;
  }

  path {
    fill: $secondary-text-color;
  }
}

.danger.outlined {
  border-color: $danger-text-color;
  background-color: white;
  color: $danger-text-color;

  & * {
    color: $danger-text-color;
  }

  path {
    fill: $danger-text-color;
  }
}

.danger.filled {
  border-color: $danger-button-color;
  background-color: $danger-button-color;
  color: $danger-text-color;

  & * {
    color: $danger-text-color;
  }

  path {
    fill: $danger-text-color;
  }
}

.white.outlined {
  border-color: $white-text-color;
  background-color: white;
  color: $white-text-color;

  & * {
    color: $white-text-color;
  }

  path {
    fill: $white-text-color;
  }
}

.white.filled {
  border-color: $white-button-color;
  background-color: $white-button-color;
  color: $white-text-color;

  & * {
    color: $white-text-color;
  }

  path {
    fill: $white-text-color;
  }
}
