@use './variables' as *;
@use './tailwind';

html, body {
  box-sizing: border-box;
  margin: 0;
}

* {
  line-height: 1.33 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  line-height: 1.5 !important;
}

* {
  font-family: $secondary-font;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: $grey-color-50;
}

::-webkit-scrollbar-thumb {
  background-color: $grey-color-300;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba($grey-color-600, 0.5);

  &:hover {
    background-color: $grey-color-400;
    box-shadow: inset 2px 2px 2px rgba(#fff, 0.25), inset -2px -2px 2px rgb(0 0 0 / 25%);
  }
}